:root {

    --azul: #0062BE;
    --vermelho: #E60C2C;
    --preto: #1E1E1E;

    --facebook: #3B5998;
    --twitter: #00ACEE;
    --instagram: #515BD4, #8134AF, #DD2A7B, #FEDA77 90%, #F58529 100%;

}

* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Poppins';

    text-decoration: none;

}

body {

    display: flex;
    align-items: center;
    justify-content: center;

}

#body {

    background: var(--azul);

    width: 100vw;
    height: 100vh;

    padding: 1rem 3rem;

    transition: background 0.5s;

}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

}

header ul {

    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;

    width: 900px;

}

header ul a li {

    color: white;

    font-size: 1.4rem;
    font-weight: 200;

    text-align: center;

    border-bottom: 2px transparent solid;

    width: 170px;

    transition: all 0.4s;

}

header ul a li:hover {

    border-bottom: 2px white solid;

}

main {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

main .divisoriaTexto .divisoriaH1 {

    height: 200px;

}

main .divisoriaTexto .divisoriaH1 h1 {

    color: white;

    font-weight: 900;

}

main .divisoriaTexto .divisoriaH1 h1:first-child {

    font-size: 4rem;

    height: 50px;

}

main .divisoriaTexto .divisoriaH1 h1:last-child {

    font-size: 7rem;

    height: 150px;

}

main .divisoriaTexto p {

    color: white;

    width: 500px;

    margin-bottom: 2rem;

}

main .divisoriaTexto .inputButton {

    font-size: 1.3rem;
    font-weight: 500;

    color: var(--preto);

    border: none;

    border-radius: 50px;

    padding: 0 1rem;

    transition: background 0.2s;

    cursor: pointer;

}

main .divisoriaTexto .inputButton:hover {

    background: var(--vermelho);
    color: white;

}

footer {

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;

    height: 250px;

}

footer .fab {

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    font-size: 2rem;

    text-shadow: 0 0 8px black;
    box-shadow: 0 0 5px black;

    border-radius: 100px;

    width: 50px;
    height: 50px;

    transition: all 0.1s;

}

footer .fab:hover {

    font-size: 2.5rem;

    text-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;

    border-radius: 15px;

}

footer .fa-facebook-f:hover {

    background: var(--facebook);

}

footer .fa-twitter:hover {

    background: var(--twitter);

}

footer .fa-instagram:hover {

    background-image: linear-gradient(to left bottom, var(--instagram));

}

footer .fa-github:hover {

    background: black;

}

.divisoriaImgPequeno {

    display: flex;
    align-items: center;
    justify-content: center;

}

.divisoriaImgPequeno img {

    height: 90px;

    margin-right: 3rem;

    cursor: pointer;

    transition: transform 0.5s;

}

.divisoriaImgPequeno img:last-child {

    margin: 0;

}

.divisoriaImgPequeno img:hover {

    transform: translateY(-15px);

}


